.sidebar {
    position: fixed;
    top:0;
    left:0;
    width:150px;
    height:100%;
    background:#222;
    z-index:15;
    box-shadow: 1px 0 15px 5px rgba(0,0,0,.5);
    margin-left:-160px;
    transition: 0.3s; 
  }
  .sidebar.active {
      margin-left:0;
  }
  .sidebar nav {
    display:block;
    width:100%;
  }
  .sidebar nav ul {
    border-top:1px solid #000000;
    border-bottom:1px solid #555555;
  }
  .sidebar nav li {
    border-top:1px solid #555555;
    border-bottom:1px solid #000000;
  }
  .sidebar nav a {
    display:block;
    text-align: center;
    width:100%;
    color:#ffffff;
    overflow: visible;
    font-family: 'Oswald', sans-serif;
    height: 90px;
    width: 100%;
    perspective: 10000px;
  }
  .sidebar nav a .animate {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.25s;
  }
  .sidebar nav a.active .animate,
  .sidebar nav a:hover .animate {
    transform: translateZ(-100px) rotateY(-90deg);
  }
  .sidebar nav a .animate div {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top:10px;
  }
  
  .sidebar nav a .animate .front {
    transform: rotateY(0deg) translateZ(-75px);
  }
  .sidebar nav a .animate .back {
    transform: rotateY(90deg) translateZ(-75px);
    opacity: 0;
  }
  .sidebar nav a.active .animate .back,
  .sidebar nav a:hover .animate .back {
    opacity: 1;
  }
 
  /* .sidebar nav a div {
      height:90px;
      padding:10px 0 15px;
  } */
  .sidebar nav a div.front {
    background:#333333;
  }
  .sidebar nav a div.back {
    background: #a6a6a6;
    background-image: -webkit-linear-gradient(top, #a6a6a6, #707070);
    background-image: -moz-linear-gradient(top, #a6a6a6, #707070);
    background-image: -ms-linear-gradient(top, #a6a6a6, #707070);
    background-image: -o-linear-gradient(top, #a6a6a6, #707070);
    background-image: linear-gradient(to bottom, #a6a6a6, #707070);
  }
  /* Individual */
  .sidebar nav a.profile div.back {
    background: #cf0430;
    background-image: -webkit-linear-gradient(top, #cf0430, #b0002f);
    background-image: -moz-linear-gradient(top, #cf0430, #b0002f);
    background-image: -ms-linear-gradient(top, #cf0430, #b0002f);
    background-image: -o-linear-gradient(top, #cf0430, #b0002f);
    background-image: linear-gradient(to bottom, #cf0430, #b0002f);
  }
  .sidebar nav a.portfolio div.back {
    background: #0487d9;
    background-image: -webkit-linear-gradient(top, #0487d9, #006fb0);
    background-image: -moz-linear-gradient(top, #0487d9, #006fb0);
    background-image: -ms-linear-gradient(top, #0487d9, #006fb0);
    background-image: -o-linear-gradient(top, #0487d9, #006fb0);
    background-image: linear-gradient(to bottom, #0487d9, #006fb0);
  }
  .sidebar nav a.resume div.back {
    background: #07b56a;
    background-image: -webkit-linear-gradient(top, #07b56a, #039438);
    background-image: -moz-linear-gradient(top, #07b56a, #039438);
    background-image: -ms-linear-gradient(top, #07b56a, #039438);
    background-image: -o-linear-gradient(top, #07b56a, #039438);
    background-image: linear-gradient(to bottom, #07b56a, #039438);
  }
  .sidebar nav a.contact div.back {
    background: #e8852e;
    background-image: -webkit-linear-gradient(top, #e8852e, #c26a18);
    background-image: -moz-linear-gradient(top, #e8852e, #c26a18);
    background-image: -ms-linear-gradient(top, #e8852e, #c26a18);
    background-image: -o-linear-gradient(top, #e8852e, #c26a18);
    background-image: linear-gradient(to bottom, #e8852e, #c26a18);
  }
  
  .sidebar nav a span {
    display:block;
    margin:0 auto;
  }
  .sidebar nav a span.fa {
    width:40px;
    height:40px;
    line-height: 40px;
  }
  
@media screen and (max-width:640px) {
  .sidebar {
      position: fixed;
      width: 100%;
      height: auto;
      top:auto;
      left:auto;
      margin:0;
  }
  .sidebar nav ul {
      border-top:none;
  }
  .sidebar nav li:first-child {
      display: none;
  }
  .sidebar nav li {
      display: inline-block;
      width: 25%;
      position: relative;
      border-top:none;
      border:none;
      border-left:1px solid #555555;
      border-right:1px solid #000000;
      
  }
  .sidebar nav a span.text {
    display: none;
  }
  .sidebar nav a {
    height:60px;
  }
  .sidebar nav a.active .animate,
  .sidebar nav a:hover .animate {
    transform: translateZ(35px) rotateY(0deg) rotateX(-90deg);
  }
  
  .sidebar nav a .animate .front {
    transform: rotateY(0deg) translateZ(35px);
  }
  .sidebar nav a .animate .back {
    transform: rotateY(0deg) rotateX(90deg) translateZ(35px);
    opacity: 0;
  }
}