.wrapper.profile {
    background:#ffffff;
    color:#000000;
}
.wrapper.profile .header {
    background:#b0002f;
    position: relative;
    padding-bottom:60px;
    margin-bottom:150px;
    
}
.wrapper.profile .container {
    padding-top:0;
    padding-bottom:30px;
}
.profile-image {
    position: absolute;
    width: 200px;
    height: 200px;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    background:grey;
    border-radius: 50%;
    margin-bottom:-100px;
    border:2px solid #ffffff;
    box-shadow: 1px 1px 1px 3px rgba(0,0,0,.5);
    overflow: hidden;
}
@media screen and (max-width:480px) {
    .profile-image {
        width:150px;
        height: 150px;
    }
    .profile-image img {
        width: 100%;
        height: 100%;
        margin-bottom:-75px;
    }
}