.card-lg {
    width:100%;
    padding:0;
    position: relative;
}
.card-lg:hover {
    cursor: pointer;
}
.wrapper .card-lg .container {
    width: 80%;
    margin:0 auto;
    max-width: 980px;
    padding:0 20px;
    position: relative;
    z-index: 15;
}
.card-lg .bar {
    background: #0487d9;
    background-image: -webkit-linear-gradient(top, #0487d9, #006fb0);
    background-image: -moz-linear-gradient(top, #0487d9, #006fb0);
    background-image: -ms-linear-gradient(top, #0487d9, #006fb0);
    background-image: -o-linear-gradient(top, #0487d9, #006fb0);
    background-image: linear-gradient(to bottom, #0487d9, #006fb0);
    padding:20px 0;
}
.card-lg .bar:after {
    content:'';
    display:block;
    width:100%;
    clear:both;
}
.card-lg h5 {
    margin:0;
    color:#ffffff;
}
.card-lg h5.title {
    float:left;
}
.card-lg h5.type {
    float:right;
}
.card-lg .card-content {
    min-height: 300px;
    padding:20px 0;
    opacity: 0;
    transition: 0.3s;
    position: relative;
    background-size:cover;
    color:#000000;
    overflow: hidden;
}
.card-lg .card-content .bg-overlay {
    display:block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    transform: scaleY(0);
    transform-origin: 50%;
    transition-property: transform;
    transition-duration: 0.3s;
    filter: blur(5px);
}
.card-lg .card-content .bg-overlay::before {
    display: block;
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background:rgba(255,255,255, 0.5)
}
.card-lg:hover .card-content .bg-overlay {
    transform: scaleY(1);
}
.card-lg:hover .card-content {
    opacity: 1;
}