.wrapper.contact {
    background:#ffffff;
    color:#000000;
  }
.wrapper.contact .header {
    background:#c26a18;
}
.wrapper.contact h4 {
    padding:30px 0;
}
.msg-block:first-child h4 {
    padding-top:0;
}
ul.contact {
    list-style-type: none;
    font-size:0;
    padding:0;
    margin:0;
}
ul.contact li {
    display:inline-block;
    font-size:18px;
    width:33.333%;
    text-align: center;
}
ul.contact li a {
    display: inline-block;
    text-align: center;
    color:#e8852e;
    padding:10px 20px;
}
ul.contact li a .fa {
    margin-right:15px;   
}
ul.contact li a:after {
    display:block;
    content:' ';
    width:0;
    height:1px;
    background:#e8852e;
    margin:10px auto 0;
    transition: 0.3s;
}
ul.contact li a:hover:after {
    width:100%;
}
ul.social li a {
    font-weight: bold;
}
ul.social li a:after {
    height:2px;
}
ul.social li a.fb {
    color:#3b5998;
}
ul.social li a.fb:after {
    background:#3b5998;
}
ul.social li a.linkedin {
    color:#0077B5;
}
ul.social li a.linkedin:after {
    background:#0077B5;
}
ul.social li a.git {
    color:#24292e;
}
ul.social li a.git:after {
    background:#24292e;
}
iframe {
    margin-bottom:40px;
}

@media screen and (max-width:1140px) {
    .msg-block,
    .connect-block {
        width:50%;
        float:left;
    }
    ul.contact li {
        display: block;
        width: 100%;
        text-align: left;
        margin-right:0;
    }
    .heck-block {
        clear:left;
        padding-top:1px;
    }
}
@media screen and (max-width:800px) {
    .msg-block,
    .connect-block {
        float:none;
        width: 100%;
        
    }
}
@media screen and (max-width:640px) {
    .msg-block,
    .connect-block,
    .heck-block {
        text-align: center;
    }
    ul.contact li {
        text-align: center;
    }
}
@media screen and (max-width:480px) {
    .wrapper.contact h1 span {
        display:none;
    }
}