.nav-instructions {
    display:none;
}
.wrapper.home {
    background:#000000 url('../../Assets/Images/main.jpg') center no-repeat;
    background-size: cover;
    
    padding-left:0;
    text-align: center;
}
.wrapper.home > .container {
    height:100%;
    padding-top:13%;
    background-image:none !important;
    color:#ffffff;
}
.wrapper.home h1, 
.wrapper.home h4 {
    color:#ffffff;
}
.wrapper.home .bar-title {
    width:100%;
    position: relative;
    margin-bottom:30px;
}
.wrapper.home .bar-title:after {
    display:block;
    content:'';
    margin:auto;
    width:60%;
    height:1px;
    background:#ffffff;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
.wrapper.home .bar-title h4 {
    display:block;
    position: relative;
    width:fit-content;
    margin:0 auto;
    padding:0 20px;
    border-left:1px solid #ffffff;
    border-right:1px solid #ffffff;
    background:#000000;
    z-index: 10;
}

.wrapper.home h1 {
    margin:0;
    font-weight: bold;
}
.wrapper.home h4 {
    margin:0;
}

.wrapper.home nav ul {
    font-size: 0;
}
.wrapper.home nav ul li {
    display: inline-block;
    margin-right:30px;
}
.wrapper.home nav ul li:last-child {
    margin-right:0;
}
.wrapper.home nav a {
    font-family: 'Oswald', sans-serif;  
    display:inline-block;
    font-size:18px;
    color:#ffffff;
    border:1px solid #ffffff;
    padding:10px 40px;
    position: relative;
    transform: perspective(1px) translateZ(0);
    transition-property: color;
    transition-duration: 0.3s;
}
.wrapper.home nav a:last-child {
    margin-right:0;
}
.wrapper.home nav li a:before {
    display: block;
    content:'';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    border:1px solid #ffffff;
    transform: scale(0);
    transition-property: transform;
    transition-duration: 0.3s;
}
.wrapper.home.home nav li a:hover {
    color:#000000;
}
.wrapper.home.home nav li a:hover:before {
    transform: scale(1);
}

@media screen and (max-width:980px) {
    .wrapper.home h1 {
        font-size:3em;
    }
    .wrapper.home nav a {
        padding:10px 20px;
    }
}
@media screen and (max-width:768px){
    .wrapper.home h1 {
        font-size:2.5em;
    }
    .wrapper.home nav ul li {
        margin-right:15px;
    }
    .wrapper.home nav a {
        padding:10px 20px;
    }
}
@media screen and (max-width:640px), screen and (max-height:480px) {
    .wrapper.home {
        padding-bottom:200px;
    }
    .nav-instructions {
        display: block;
        text-align: center;
        padding-top:20px;
        position: relative;
        color:#ffffff;
    }
    .nav-instructions p {
        color:#ffffff;
    }
    .nav-instructions span {
        animation: 2s bounce infinite;
    }
    .nav-instructions p {
        margin:0;
    }
    .wrapper.home nav {
        display:none;
    }
    .wrapper.home > .container {
        padding-top:10%;
    }

    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {transform: translateY(-100%);} 
        40% {transform: translateY(16%);} 
        60% {transform: translateY(-15%);} 
    }
}