.wrapper.resume {
    background:#ffffff;
    color:#000000;
}
.wrapper.resume .header {
    background:#039438;
}
.wrapper.resume .download {
    text-align: center;
}
.wrapper.resume .download a {
    position: relative;
    display:inline-block;
    vertical-align: middle;
    font-family: 'Oswald', sans-serif;
    padding:10px 20px;
    background:#07b56a;
    text-transform: uppercase;
    color:#ffffff;
    border-bottom:3px solid #039438;
    transition:0.3s;
}

.wrapper.resume .download a .fa {
    margin-right:10px;
}

.wrapper.resume h3 {
    padding-bottom:30px;
}
ul.skills li {
    display: inline-block;
    width:48%;
    font-size:0;
    margin-right:2%;
    margin-bottom:2%;
}
ul.skills li:nth-child(2n){
    margin-right:0;
}
ul.skills li strong {
    font-family: 'Oswald', sans-serif;  
}
.wrapper.resume .rating .level {
    background:#039438;
}
.timeline:before {
    background:#039438;
}
.timeline-item .dot {
    background:#039438;
}
.timeline-item .timeline-content .t-year strong {
    background:#039438;
}
.timeline-item .timeline-content .t-year strong:after {
    border-top:15px solid #039438;
}
.resume-block .download {
    padding-bottom:30px;
}