.wrapper.resume {
    background:#ffffff;
    color:#000000;
}
.wrapper.resume .header {
    background:#039438;
}
.wrapper.resume .download {
    text-align: center;
}
.wrapper.resume .download a {
    position: relative;
    display:inline-block;
    vertical-align: middle;
    font-family: 'Oswald', sans-serif;
    padding:10px 20px;
    background:#07b56a;
    text-transform: uppercase;
    color:#ffffff;
    border-bottom:3px solid #039438;
    transition:0.3s;
}
.wrapper.resume .download a:hover {
    margin-top: -5px;
}
.wrapper.resume .download a .fa {
    margin-right:10px;
}