.wrapper.portfolio {
    background: #ffffff;;
    color:#000000;
}
.wrapper.portfolio .header {
    background:#006fb0;
    margin-bottom:0;
}

.wrapper.portfolio .card-lg .card-content .container{
    padding-top:20px;
    padding-bottom:20px;
}
.wrapper.portfolio .card-lg .card-content p{
    margin-top:0;
}
.wrapper.portfolio .card-lg .card-content p:last-of-type {
    margin-bottom:0;
}