.wrapper.portfolio {
    background: #ffffff;;
    color:#000000;
}
.wrapper.portfolio .header {
    background:#006fb0;
    
}
.wrapper.portfolio .container {
    width: 90%;
    max-width: 90%;
}
.wrapper.portfolio .container .card-lg {
    margin-bottom:40px;
    
}


.wrapper.portfolio .card-lg .card-content .container{
    padding-top:20px;
    padding-bottom:20px;
}
.wrapper.portfolio .card-lg .card-content p{
    margin-top:0;
}
.wrapper.portfolio .card-lg .card-content p:last-of-type {
    margin-bottom:0;
}

@media screen and (max-width:768px) {
    .card-lg h5 {
        text-align: center;
        display: block;
        float:none !important;
    }
    .card-lg h5.type {
        font-weight: normal;
    }
}